body {
background-color: #1d3557;
 background-image: url("img/ok.jpg");
 background-repeat: no-repeat;
 background-size :cover;
}

.form {

    background-color: rgb(12, 5, 58);
    border-radius: 3em;
    width: 700px;
    height: 400px;
    margin: 1em;
    padding: 2em;opacity: 95%;
   
    border: solid 3px #e600b0;
}

.boton {
    text-align: center;
    background-color : rgb(38, 73, 228);
    color : rgb(238, 238, 238);
    border-radius : 5px;
    width : 7%;
    height : 8%;
    font-size : 20px;
    cursor: pointer;
    border: 0px;

}

.img {

    width:  10%;
}
.oculto{
font-size: 30px;
color: #e600b0;

}

.oculto2{
    font-size: 30px;
    color: #e600b0;
    
    }

.boton:disabled {
    background-color : rgb(48, 50, 61);

    

}
